@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #364958;
    color: #F1F2F6;
    padding: 30px 0;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
}

.content {
    display: flex;
    background-color: #F1F2F6;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tile-container {
    display: grid;
    height:clamp(300px, 50vw, 500px);
    width: clamp(300px, 50vw, 500px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: #364958 2px solid;
    user-select: none;
    -webkit-user-select: none;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #364958 2px solid;
    font-size: 3em;
    cursor: pointer;
}

.player-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-boxes {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 5px 30px ;
    background-color: #364958;
    color: #F1F2F6;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #496174;
}

.hidden {
    display: none;
}

.info-container {
    text-align: center;
    margin-top: 10px;
}

.big-font {
    font-size: 2rem;
}

.mid-font {
    font-size: 1.5rem;
}

.info-container *,
.player-boxes,
#play-btn,
.player-box input[type='text'],
.tile-container {
    margin-top: 10px;
}

.disabled {
    pointer-events: none;
}

.player-box input[type='text'] {
    font-size: 1.2rem;
    width: 15rem;
    margin-top: 10px;
}

@media (max-width: 550px) {
    .player-boxes {
        flex-direction: column;
    }
}